In [10]:
# Question 1

# i) string

a="string1"

# ii) list
b=["x",1,5,"strin","v"]

# iii) float
c=56.890

# iv) tuple
thistuple = ("ak", "bk", "ck")
    
print(a)
print(b)
print(c)
print(thistuple)

string1
['x', 1, 5, 'strin', 'v']
56.89
('ak', 'bk', 'ck')

In [11]:
# Question 2
# i) string
# ii) string
#iii) list
#iv) integer (int)

In [17]:
# Question 3
 # i) / is used for division e.g.:
a= 76/2 #here ans will be a=38
print(a)
 #ii) % is used to find remainder e.g.:
b= 5%2 #here ans will be b=1
print(b)
 #iii) // is used to find quotient or intergral part in division
c= 7//2 #here ans will be c=3
print(c)
 #iv) ** is a power operator 
d= 2**4 #here d=16
print(d)

38.0
1
3
16

In [26]:
# Question 4 creating list and using for loop

Data = ["Jan", 45, 67.89, True, "x", False,[2,3,6], 56, 56.98,9]
for x in Data :
    print((x),type(x))

Jan <class 'str'>
45 <class 'int'>
67.89 <class 'float'>
True <class 'bool'>
x <class 'str'>
False <class 'bool'>
[2, 3, 6] <class 'list'>
56 <class 'int'>
56.98 <class 'float'>
9 <class 'int'>

In [60]:
# question 5

a = int(input( "enter first number"))  # num A
copyA = a
b = int(input("enter second number"))  # num B
i=0

while True:
    if a%b == 0:
        a/=b
        i+=1
        continue
    elif a%b != 0 and a < copyA :
        print(str(copyA) + " is completely divisible by " + str(b) + " and it can be divided " + str(i) + " times." )
        break
    else:
        print(str(a) + " is not divisible by " + str(b))
        break

enter first number 456
enter second number 2

456 is completely divisible by 2 and it can be divided 3 times.

In [54]:
# Question 6
ListA=[1, 14, 9, 27, 2, 35, 8, 18, 43, 5, 11, 36, 7, 22, 50, 3, 16, 41, 6, 12, 30, 4, 19, 33, 10]
for x in ListA :
    
     
    if x%3 == 0:
        print("\n" + str(x) + " is divisible by 3.")
    else:
        print("\n" + str(x) + " is not divisible by 3.")

1 is not divisible by 3.

14 is not divisible by 3.

9 is divisible by 3.

27 is divisible by 3.

2 is not divisible by 3.

35 is not divisible by 3.

8 is not divisible by 3.

18 is divisible by 3.

43 is not divisible by 3.

5 is not divisible by 3.

11 is not divisible by 3.

36 is divisible by 3.

7 is not divisible by 3.

22 is not divisible by 3.

50 is not divisible by 3.

3 is divisible by 3.

16 is not divisible by 3.

41 is not divisible by 3.

6 is divisible by 3.

12 is divisible by 3.

30 is divisible by 3.

4 is not divisible by 3.

19 is not divisible by 3.

33 is divisible by 3.

10 is not divisible by 3.

In [59]:
# Question 7

# Mutable Data types are the ones whose values can be changed. eg -
x = [7,5,8,3,9]
print(x[0])
x[0] = 56  # 0 is index assigned in list
print(x[0])


# Immutable Data types are the ones whose values can't be changed. eg -
immutable = (7,5,8,3,9)
#print(immutable[0]) = 0  # Changing the value of the item having 0 index number willgive error as tuples are immutable data type.

7
56